<div id="jumbo">
  <div id="picture">
    <br/><br/>

    <h1>Welcome to D or F?</h1>
  </div>
</div>

<br/> <br/>

<div class="row">
  <div class="small-9 small-centered columns">
    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div data-alert class="alert-box radius <%= name %>">
              <a class="close" data-dismiss="alert">&times;</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            </div>
            <br />
        <% end %>
    <% end %>
  </div>

  <div class="small-9 small-centered columns">This website is designed to show you which player is superior:
    The summoner who uses D for flash or the summoner who uses F for flash. The data for our MySQL database
    came from the Black Market Brawlers dataset provided by Riot's API 2.0 challenge. If you don't care about
    individual champion performance and desperately want to know if D or F is
    superior, <%= link_to "CLICK HERE!", overall_path, class: "overallLink" %></div>
</div>

<br/> <br/>

<!-- add all the champions with their pictures -->
<div id="champsDiv" class="row">
  <h3 id="champsTitle">Click on a champion to find out their flash stats!</h3>

  <div id="champs">
    <% @champions.each do |champion| %>
		<span class="champ">
			<%= link_to(image_tag(@riot_path + champion.img), champion_show_path(champion)) %>
          <%= link_to champion.name, champion_show_path(champion), {:class => "champName"} %>
		</span>
    <% end %>
  </div>
</div>

<br/><br/>

<div id="weatherWrapper" class="row">
  <!-- <div id="weatherArea"><h3>Should You Play League With This Weather?</h3></div> -->
</div>