<h1 id="championShowName"><%= @champion.name + " " + @champion.title %></h1>

<br />

<div class="row">
  <%= image_tag(@splash_path + @champion.splash_img, {:class => "splash"}) %>
</div>

<br /><br />
<%= radio_button_tag('gender', 'male') %> 
<div class="row">
  <% form_tag do %>
  <%= radio_button_tag('gender', 'male') %> 
  <%= label_tag('gender', 'Unranked') %>
  <% end %>

</div>

<div class="row" id="chartDiv">
  <canvas id="chart"></canvas>
  <canvas id="chart2"></canvas>
</div>

<br /><br />

<table style="margin-left: auto; margin-right: auto;">
  <caption>I'm Diamond in League</caption>
  <thead>
  <tr>
    <th width="150">Key Used for Flash</th>
    <th width="150">Games</th>
    <th width="150">Wins</th>
    <th width="150">Losses</th>
    <th width="150">Win Percentage</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>D</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
  </tr>
  <tr>
    <td>F</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
  </tr>
  <tr>
    <td>No Flash</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
  </tr>
  </tbody>
</table>